@import "tailwindcss";

@font-face {
    font-family: 'Nothing';
    src: url('/fonts/nothing-font-5x7.otf.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
* {
  font-family: 'Nothing', Arial, sans-serif;
}